* {
    box-sizing: border-box;
    margin: 0;
}

div {
    padding: 10px;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: greenyellow;
}

.bg-yellow {
    background-color: yellow;
}

.bg-blue {
    background-color: navy;
}

.root {
    width: 1000px;
    height: 1000px;
}

.d-flex {
    display: flex;
}

.just-cont-between {
    justify-content: space-between;
}

.just-cont-end {
    justify-content: flex-end;
}

.al-self-end {
    align-self: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-column-rev {
    flex-direction: column-reverse;
}

.mar-10 {
    margin: 10px;
}

.w-100per {
    width: 100%;
}

.w-100 {
    width: 100px;
}

.h-100 {
    height: 100px;
}

.h-50per {
    height: 50%;
}

.w-50per {
    width: 50%;
}
